* {
  box-sizing: border-box;
  text-decoration: none;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html{
  font-family: 'ZCOOL XiaoWei', serif !important;
}
.first {
  background-image: url(../images/main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height:700px;
  color: white;
}

.four h1 {
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

.four a {
  color: white !important;
}

.four {
  background-image: url(../images/athelete.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 1000px;

}

.four h4{
  padding: 10%;
  color: white;
}

 /* .four button a{
   color: white;
   font-variant: all-petite-caps;
   font-size: 25px;
 } */

.social li{
  font-size: 17px;
  display: inline-block;
  float:right;
  padding-right: 1%;
}

li a{
  color: white !important;
}

.navMenu {
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.navMenu a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 80px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: #fddb3a;
}

.navMenu .dot {
  width: 6px;
  height: 6px;
  background: #fddb3a;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(110px);
  transform: translateX(110px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(200px);
  transform: translateX(200px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(4):hover ~ .dot {
  -webkit-transform: translateX(285px);
  transform: translateX(285px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
 .pink{
   background-color: #b62b52;
 }

 .green{
   background-color: #769d2a;
 }

 .teal {
    background-color: #01a0a6;
 }

 a h2 {
   color: white;
 }

a:hover {
 text-decoration: none!important;
  }

  .first .pink, .first .pic, .first .green{
   padding-right: 0px !important;
   padding-left: 0px!important;
  }

  .green a, .pink a, .teal a{
    padding: 6%;
  }

  .message{
    background-color: #222828;
    color: #fcfdff;
    padding: 10%;
  }

  .message a{
    color:black!important;
    background-color: white;
  }

  .message a{
    text-decoration: none!important;

  }
.message button {
  background-color: white;
  padding: 1%;
  border-radius: 9%;
}

.what_to_do h2{
  padding: 2%;
  color: black;
}
.what_to_do i{
    font-size: 40px;
}
.what_to_do div {
    padding: 3%;
    color: #222828;
}

.what_to_do button,.four button{
  background-color: transparent;
  border-radius: 6px;
  padding: 3%;
}

.what_to_do button a{
  color:  #222828;
  font-variant: all-petite-caps;
}

 .five{
   padding: 3%;
 }

 .five img{
   width: 100%;
 }

 .six {
   background-color: #222828;
   color:white;
 }

.six i{
  font-size: 40px;
  text-align: center;
  padding: 5%;
}

.six p{
  padding: 0 30% 0 30%;
}

.six h5{
  color: bisque;
  font-size: small;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.six h6{
  color: whitesmoke;
  font-size:large;
}

.people{
  border-top: 1px solid white;
}

.people img{
  padding: 6%;
  width: 100%;
  height: 300px;
}

.letter{
  background-image: url(../images/letter.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  color: white;

}

.letter button a{
  color: black;
}

.letter h1{
  padding-top: 4%;
}

.letter button {
  background-color: white;
font-size: 20px;
border-radius: 5px;
font-variant-caps: all-petite-caps;
}

footer {
  background-color: black;
  color:white;
  padding: 4%;
}

.gameRow1{
  display: flex;
  justify-content: center;
  align-items: center;
}
.gameRow2{
  display: flex;
  justify-content: center;
  align-items: center;
}

.creatorRow{
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.box img{
    border: 3px solid white;
    border-radius: 50px;
}